.navbar {
   padding: 20px 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar .log {
   width: 150px;
}

.navbar-menu {
   display: flex;
   list-style: none;
   gap: 20px;
   color: #49557e;
   font-size: 18px;
}

.navbar-menu a {
   position: relative;
   text-decoration: none;
   color: #49557e;
   font-size: 18px;
   font-weight: bold;
   padding: 5px 0;
   transition: color 0.3s ease;
}

.navbar-menu a:hover {
   color: #FF4405; /* Change text color to #FF4405 on hover */
}

/* Hover effect with loading underline */
.navbar-menu a:before {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #FF4405; /* Set the hover underline color */
   visibility: hidden;
   transition: all 0.3s ease-in-out;
}

.navbar-menu a:hover:before {
   visibility: visible;
   width: 100%; /* Full underline width on hover */
}

/* Active state: keep underline and color when clicked */
.navbar-menu .active {
   color: #FF4405;
   border-bottom: 2px solid #FF4405;
}

/* Remove the earlier black underline */
.navbar .active {
   border-bottom: none; /* No black underline */
}

.navbar-right {
   display: flex;
   align-items: center;
   gap: 40px;
}

.navbar button {
   background: transparent;
   font-size: 16px;
   color: #49557e;
   border: 1px solid tomato;
   padding: 10px 30px;
   border-radius: 50px;
   cursor: pointer;
   transition: 0.3s;
}

.navbar button:hover {
   background: tomato;
   color: #fff;
}

.navbar li {
   cursor: pointer;
}

.navbar-search-icon {
   position: relative;
}

.navbar-search-icon .dot {
   position: absolute;
   min-width: 10px;
   min-height: 10px;
   background-color: tomato;
   border-radius: 5px;
   top: -8px;
   right: -8px;
}

@media (max-width: 1050px) {
   .navbar .logo {
       width: 140px;
   }
   .navbar-menu {
       gap: 20px;
       font-size: 17px;
   }
   .navbar-right {
       gap: 30px;
   }
   .navbar-right img {
       width: 22px;
   }
   .navbar-right button {
       padding: 8px 25px;
   }
}

@media (max-width: 900px) {
   .navbar .logo {
       width: 120px;
   }
   .navbar-menu {
       gap: 15px;
       font-size: 16px;
   }
   .navbar-right {
       gap: 20px;
   }
   .navbar-right img {
       width: 20px;
   }
   .navbar-right button {
       padding: 7px 20px;
       font-size: 15px;
   }
}

@media (max-width: 750px) {
   .navbar-menu {
       display: none;
   }
}
